/** Installation fonte Source Sans Pro **********************************************************************************************************************************************/
@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/source-sans-pro/EOT/SourceSansPro-ExtraLight.eot') format('embedded-opentype'),
         url('../fonts/source-sans-pro/WOFF2/TTF/SourceSansPro-ExtraLight.ttf.woff2') format('woff2'),
         url('../fonts/source-sans-pro/WOFF/OTF/SourceSansPro-ExtraLight.otf.woff') format('woff'),
         url('../fonts/source-sans-pro/OTF/SourceSansPro-ExtraLight.otf') format('opentype'),
         url('../fonts/source-sans-pro/TTF/SourceSansPro-ExtraLight.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('../fonts/source-sans-pro/EOT/SourceSansPro-ExtraLightIt.eot') format('embedded-opentype'),
         url('../fonts/source-sans-pro/WOFF2/TTF/SourceSansPro-ExtraLightIt.ttf.woff2') format('woff2'),
         url('../fonts/source-sans-pro/WOFF/OTF/SourceSansPro-ExtraLightIt.otf.woff') format('woff'),
         url('../fonts/source-sans-pro/OTF/SourceSansPro-ExtraLightIt.otf') format('opentype'),
         url('../fonts/source-sans-pro/TTF/SourceSansPro-ExtraLightIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/source-sans-pro/EOT/SourceSansPro-Light.eot') format('embedded-opentype'),
         url('../fonts/source-sans-pro/WOFF2/TTF/SourceSansPro-Light.ttf.woff2') format('woff2'),
         url('../fonts/source-sans-pro/WOFF/OTF/SourceSansPro-Light.otf.woff') format('woff'),
         url('../fonts/source-sans-pro/OTF/SourceSansPro-Light.otf') format('opentype'),
         url('../fonts/source-sans-pro/TTF/SourceSansPro-Light.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('../fonts/source-sans-pro/EOT/SourceSansPro-LightIt.eot') format('embedded-opentype'),
         url('../fonts/source-sans-pro/WOFF2/TTF/SourceSansPro-LightIt.ttf.woff2') format('woff2'),
         url('../fonts/source-sans-pro/WOFF/OTF/SourceSansPro-LightIt.otf.woff') format('woff'),
         url('../fonts/source-sans-pro/OTF/SourceSansPro-LightIt.otf') format('opentype'),
         url('../fonts/source-sans-pro/TTF/SourceSansPro-LightIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/source-sans-pro/EOT/SourceSansPro-Regular.eot') format('embedded-opentype'),
         url('../fonts/source-sans-pro/WOFF2/TTF/SourceSansPro-Regular.ttf.woff2') format('woff2'),
         url('../fonts/source-sans-pro/WOFF/OTF/SourceSansPro-Regular.otf.woff') format('woff'),
         url('../fonts/source-sans-pro/OTF/SourceSansPro-Regular.otf') format('opentype'),
         url('../fonts/source-sans-pro/TTF/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('../fonts/source-sans-pro/EOT/SourceSansPro-It.eot') format('embedded-opentype'),
         url('../fonts/source-sans-pro/WOFF2/TTF/SourceSansPro-It.ttf.woff2') format('woff2'),
         url('../fonts/source-sans-pro/WOFF/OTF/SourceSansPro-It.otf.woff') format('woff'),
         url('../fonts/source-sans-pro/OTF/SourceSansPro-It.otf') format('opentype'),
         url('../fonts/source-sans-pro/TTF/SourceSansPro-It.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/source-sans-pro/EOT/SourceSansPro-Semibold.eot') format('embedded-opentype'),
         url('../fonts/source-sans-pro/WOFF2/TTF/SourceSansPro-Semibold.ttf.woff2') format('woff2'),
         url('../fonts/source-sans-pro/WOFF/OTF/SourceSansPro-Semibold.otf.woff') format('woff'),
         url('../fonts/source-sans-pro/OTF/SourceSansPro-Semibold.otf') format('opentype'),
         url('../fonts/source-sans-pro/TTF/SourceSansPro-Semibold.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('../fonts/source-sans-pro/EOT/SourceSansPro-SemiboldIt.eot') format('embedded-opentype'),
         url('../fonts/source-sans-pro/WOFF2/TTF/SourceSansPro-SemiboldIt.ttf.woff2') format('woff2'),
         url('../fonts/source-sans-pro/WOFF/OTF/SourceSansPro-SemiboldIt.otf.woff') format('woff'),
         url('../fonts/source-sans-pro/OTF/SourceSansPro-SemiboldIt.otf') format('opentype'),
         url('../fonts/source-sans-pro/TTF/SourceSansPro-SemiboldIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/source-sans-pro/EOT/SourceSansPro-Bold.eot') format('embedded-opentype'),
         url('../fonts/source-sans-pro/WOFF2/TTF/SourceSansPro-Bold.ttf.woff2') format('woff2'),
         url('../fonts/source-sans-pro/WOFF/OTF/SourceSansPro-Bold.otf.woff') format('woff'),
         url('../fonts/source-sans-pro/OTF/SourceSansPro-Bold.otf') format('opentype'),
         url('../fonts/source-sans-pro/TTF/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('../fonts/source-sans-pro/EOT/SourceSansPro-BoldIt.eot') format('embedded-opentype'),
         url('../fonts/source-sans-pro/WOFF2/TTF/SourceSansPro-BoldIt.ttf.woff2') format('woff2'),
         url('../fonts/source-sans-pro/WOFF/OTF/SourceSansPro-BoldIt.otf.woff') format('woff'),
         url('../fonts/source-sans-pro/OTF/SourceSansPro-BoldIt.otf') format('opentype'),
         url('../fonts/source-sans-pro/TTF/SourceSansPro-BoldIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/source-sans-pro/EOT/SourceSansPro-Black.eot') format('embedded-opentype'),
         url('../fonts/source-sans-pro/WOFF2/TTF/SourceSansPro-Black.ttf.woff2') format('woff2'),
         url('../fonts/source-sans-pro/WOFF/OTF/SourceSansPro-Black.otf.woff') format('woff'),
         url('../fonts/source-sans-pro/OTF/SourceSansPro-Black.otf') format('opentype'),
         url('../fonts/source-sans-pro/TTF/SourceSansPro-Black.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url('../fonts/source-sans-pro/EOT/SourceSansPro-BlackIt.eot') format('embedded-opentype'),
         url('../fonts/source-sans-pro/WOFF2/TTF/SourceSansPro-BlackIt.ttf.woff2') format('woff2'),
         url('../fonts/source-sans-pro/WOFF/OTF/SourceSansPro-BlackIt.otf.woff') format('woff'),
         url('../fonts/source-sans-pro/OTF/SourceSansPro-BlackIt.otf') format('opentype'),
         url('../fonts/source-sans-pro/TTF/SourceSansPro-BlackIt.ttf') format('truetype');
}

/** Installation fonte Caviar **********************************************************************************************************************************************/
@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('../fonts/caviar/caviardreams-webfont.eot');
    src: url('../fonts/caviar/caviardreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/caviar/caviardreams-webfont.woff') format('woff'),
         url('../fonts/caviar/caviardreams-webfont.ttf') format('truetype'),
         url('../fonts/caviar/caviardreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('../fonts/caviar/caviar_dreams_bold-webfont.eot');
    src: url('../fonts/caviar/caviar_dreams_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/caviar/caviar_dreams_bold-webfont.woff') format('woff'),
         url('../fonts/caviar/caviar_dreams_bold-webfont.ttf') format('truetype'),
         url('../fonts/caviar/caviar_dreams_bold-webfont.svg#caviar_dreamsbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caviar_dreamsbold_italic';
    src: url('../fonts/caviar/caviardreams_bolditalic-webfont.eot');
    src: url('../fonts/caviar/caviardreams_bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/caviar/caviardreams_bolditalic-webfont.woff') format('woff'),
         url('../fonts/caviar/caviardreams_bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/caviar/caviardreams_bolditalic-webfont.svg#caviar_dreamsbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caviar_dreamsitalic';
    src: url('../fonts/caviar/caviardreams_italic-webfont.eot');
    src: url('../fonts/caviar/caviardreams_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/caviar/caviardreams_italic-webfont.woff') format('woff'),
         url('../fonts/caviar/caviardreams_italic-webfont.ttf') format('truetype'),
         url('../fonts/caviar/caviardreams_italic-webfont.svg#caviar_dreamsitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

