/***** Définition des fontes et des tailles *******************************************************/

h1 { font-family:'caviar_dreamsregular' ;font-size:34px;color:#F8F8F8;} 
h2 { font-family:'caviar_dreamsregular' ;font-size:30px;color:#F8F8F8 ;}
h3 { font-family:'caviar_dreamsregular' ;	
	font-size:24px;
	color:#F8F8F8 ;
	margin-left:-10px ;
	margin-right:-5px ;
	padding-left:10px ;
	padding-top:5px;
	padding-bottom:5px ;
	background-color:rgb(17,31,66);	}
	
h4 { font-family:'caviar_dreamsregular' ;font-size:18px;color:#F8F8F8 ;background-color:rgb(17,31,66);}

h5 { font-family:'Source Sans Pro' ;color:#F8F8F8;font-size:14px;}

section p { font-family:'Source Sans Pro' ; font-size:20px; color:rgb(17,31,66) ;padding-top,50px ;}
	
h6 { font-family:'caviar_dreamsregular' ;	font-size:12px;	}

/****** ratrecir le texte **************************/
p { padding-left:70px; padding-right:70px ;padding-top:20px;}
h3 {padding-left:40px; padding-right:40px ;}
header {color:#F8F8F8;}

.caviar {font-family:'caviar_dreamsregular' ; font-size:22px;}
.c-blanc { color:#F8F8F8 ;}
.c-bleu1 { color:rgb(17,31,66) ;}

body { background-color:rgb(17,31,66);  margin-top:20px; margin-left:20px;margin-right:20px; }   /**overflow-y: hidden;}**/ 

.partie_1 {	border:32px solid rgba(255,255,255,0.2) ;
			border-radius:30px ;
			background-image:url(../images/banner-904887_1280.jpg); 
			background-attachment:fixed;  
			background-repeat:no-repeat;
			background-size: 100%;  }
			
.jumbotron {border-radius:30px ;
			padding-bottom:100px;
			padding-top:100px;
			margin-bottom:1000px ; }		
			
#head_description { 
	overflow:hidden;}

#head_image {
	width:100% ;
	overflow:hidden;}
	
/**** objet qui bougent a usurvol  *******/	
#head_image:hover {transform: scale(1.05);}	
div h3:hover {transform: scale(1.05);}	
#maps:hover {transform: scale(1.05);}
fieldset:hover {transform: scale(1.05);}		
.vibre:hover {transform: scale(1.05);}	

#maps {
	width:100% ;
	height:500px;
	border:10px solid #F8F8F8 ;
	border-radius:20px;}

main { background-color:#F8F8F8 ;}

iframe {
    width:100%;
	overflow:hidden;
	margin-top:15px ;
	margin-bottom:5px ;}

.footer_liens {
	margin:auto ; 
	margin-bottom:20px ; }
	
.cadre {box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);}

.b_circle {
	margin-top:10px ;
	padding-top:10px ; 
	padding-left:10px ;
	display: inline-block;
	border:5px solid #F8F8F8 ;
	border-radius: 50%;
	width:80px ;
	height:80px; 
	margin-left:18px;margin-right:18px;}   
	
.b_circle:hover { 	
	opacity:0.5 ; 
	border:5px solid rgba(255,255,255,0.7) ; }

.b_circle:hover,
.b_circle:focus { 
	transform: scale(1.2);	} 				
 
.plume {	
	float:left ;
	margin-top:-5px ;
	margin-left:40px ;}

.container { 
	position:relative ;
	width:960px ; }

fieldset {
  padding:10px;
  margin: 5px;
  border: 10px solid #F8F8F8;
  border-radius:20px ;
  background-color:transparent;
  background: transparent; }	

legend {
	padding: 0;
	border: 0px solid #F8F8F8;
	border-radius:20px ;
	background-color:transparent;  
	background: transparent;
	margin: 0px;
	line-height: initial;
	color: #F8F8F8;
	width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none; }

#filters {
    margin:1%;
    padding:0;
    list-style:none; }

    #filters li {
        float:left;    }
    
    #filters li span {
        display: block;
        padding:5px 20px;       
        text-decoration:none;
        color:black ; 
		/**#666;**/
        cursor: pointer;    }
    
    #filters li span.active {
        background:rgb(17,31,66) ;
		box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
        color:#F8F8F8 ;     }
 
#portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width:23%;
    margin:1%;
    display:none;
    float:left;
    overflow:hidden;
	border:5px solid rgb(17,31,66) ;
	border-radius:20px ; }

    .portfolio-wrapper {
        overflow:hidden;
        position: relative !important;
        background: #666;
        cursor:pointer;    }

    .portfolio img {
        max-width:100%;
        position: relative;    }
    
    .portfolio .label {
        position: absolute;
        width: 100%;
        height:40px;
        bottom:-40px;    }

        .portfolio .label-bg {
            background: rgb(17,31,66);
            width: 100%;
            height:100%;
            position: absolute;
            top:0;
            left:0;        }
    
        .portfolio .label-text {
            color:#fff;
            position: relative;
            z-index:500;
            padding:5px 8px;        }
            
            .portfolio .text-category {
                display:block;
                font-size:9px;            }